code.hljs {
    line-height: 1;
}
code>.hljs {
    line-height: 1;
}
code>.hljs-keyword {
    line-height: 1;
}

section .right {
    text-align: right;
    margin-top: 100px;
}

section .left {
    text-align: left;
}   
